<nav class="nav-wrapper black">
  <div class="container">
    <a href="/" class="brand-logo"> BIKES SERVICE </a>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Eventhub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/main" routerLinkActive="active">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stations" routerLinkActive="active">Add bike of an station</a>
        </li>
      </ul>
      <ul class="navbar-nav">
          <a class="nav-link" routerLink="/bikes" routerLinkActive="active">Create Bike</a>
          <a class="nav-link" routerLink="/stations" routerLinkActive="active">Create Station</a>  
   
      </ul>
    </div>
  </nav>    
  <div class="container">
    <router-outlet></router-outlet>            
  </div>
  