<div class="col s5">
  <table class="striped highlight black-text">
    <thead>
      <th>Bike</th>
      <th>Kms</th>
      <th>Description</th>
      <th>Operation</th>
    </thead>

    <tbody>
      <tr *ngFor="let bike of station.bike">
        <td>{{bike.name }}</td>
        <td>{{bike.kms}}</td>
        <td>{{bike.description}}</td>
        <td>
            <button class="btn btn-primary" [routerLink]="[]">View</button> 
         </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="col s5">
  <table class="striped highlight black-text">
    <thead>
      <th>Bike</th>
      <th>Kms</th>
      <th>Description</th>
      <th>Operation</th>
    </thead>

    <tbody>
      <tr *ngFor="let bike of bikesList">
        <td>{{bike.name }}</td>
        <td>{{bike.kms}}</td>
        <td>{{bike.description}}</td>
        <td>
            <button (click)="addBike(bike._id)">Add Bike</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>